<ion-view view-title="Searching">
    <div ng-controller="SearchTellersCtrl">
        <form name="SearchTellerForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="container-default-background">
                    <div class="row">
                        <div class="col col-100">
                            <div class="row">
                                <h4>Searching for tellers nearby</h4>
                            </div>
                            <div class="row">
                                <p>We're searching for tellers within 20 minute walking distance.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-content>
        </form>
    </div>

</ion-view>
