<ion-view>
    <form name="depositForm" method="post" novalidate>
        <ion-content class="container-body">
            <div class="teller-container background-light">
                <div class="row">
                    <div class="col col-20">
                        <img class="circle-base profile-teller" src="img/profile.jpg"/>
                    </div>
                    <div class="col col-80">
                        <div class="teller-header">
                            <div class="teller-title">
                                <b>{{ offer.user.first_name }} {{ offer.user.last_name }}</b>
                            </div>
<!--                             <div class="teller-sub">
                                <div class="row">
                                    <div class="teller-rating">
                                        <img src="img/like.png"/>
                                    </div>
                                    <div class="teller-rating-text">
                                        20
                                    </div>
                                    <div class="teller-rating">
                                        <img src="img/dislike.png"/>
                                    </div>
                                    <div class="teller-rating-text">
                                        20
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="offer.status === 'Accepted'">
<!--                 <div class="teller-content background-light">
                    <div class="row teller-call">
                        <div class="col col-5"></div>
                        <button class="button block button-call col-40">
                            Call
                        </button>
                        <div class="col col-10"></div>
                        <button class="button block button-call col-40">
                            Text
                        </button>
                        <div class="col col-5"></div>
                    </div>
                </div>-->
                <div class="teller-alert">
                    <div class="row">
                        <div class="col col-100">
                            <div class="row center">
                                <h2><b>{{ offer.transaction.pin }}</b></h2>
                            </div>
                            <div class="row center">
                                <p>Please present this code in-person to complete your deposit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="map2">
            </div>
            <div class="teller-container-content">
                <div class="teller-content">
                    <div class="row">
                    <span class="col-100 align-left">
                        <b>Instructions from teller</b>
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-100 align-left">
                        {{ offer.note }}
                    </span>
                    </div>
                </div>
                <div class="teller-content">
                    <div class="row">
                    <span class="col-100 align-left">
                        <b>Deposit Details</b>
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-50 align-left">
                        Amount
                    </span>
                    <span class="col-50 align-right">
                        {{ offer.transaction.currency }} {{ offer.transaction.amount }}
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-50 align-left">
                        Convenience Fee
                    </span>
                    <span class="col-50 align-right">
                        {{ offer.transaction.currency }} {{ offer.transaction.fee }}
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-50 align-left">
                        Fundo Fee
                    </span>
                    <span class="col-50 align-right">
                        {{ offer.transaction.currency }} {{ offer.transaction.fee }}
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-50 align-left">
                        Total
                    </span>
                    <span class="col-50 align-right">
                        {{ offer.transaction.currency }} {{ offer.transaction.amount }}
                    </span>
                    </div>
                </div>
                <div class="teller-content">
                    <div class="row">
                    <span class="col-100 align-left">
                        <b>Summary</b>
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-100 align-left">
                        You must pay {{ offer.transaction.currency }} {{ offer.transaction.amount }} cash to make a deposit of {{ offer.transaction.currency }} {{ offer.transaction.amount }}.
                    </span>
                    </div>
                </div>
            </div>
            <div class="teller-footer"></div>
        </ion-content>

        <!-- Footer bar hack to get layout right -->
        <ion-footer-bar class="bar-dark">
        </ion-footer-bar>

        <div ng-if="offer.status === 'Pending'">
            <button class="bar bar-footer high-footer" ng-click="accept()">
                <h1 class="title">Accept</h1>
            </button>
        </div>
        <div ng-if="offer.status === 'Accepted'">
            <button class="bar bar-footer high-footer cancel" ng-click="cancel()">
                <h1 class="title">Cancel</h1>
            </button>
        </div>
    </form>
</ion-view>