<ion-view view-title="To">
    <div ng-controller="ConvertToCtrl" >
        <form name="convertToForm" method="post" novalidate>
            <ion-content class="container-body">
                <div class="list">
                    <label class="item item-input item-select">
                        <span class="input-label">Currency {{ currency.code }}</span>
                        <select ng-model="data.to_currency" name="to_currency" required>
                            <option ng-if="currency.code !== USD" value="USD" selected>USD</option>
                            <option ng-if="currency.code !== SGD" value="SGD" selected>SGD</option>
                            <option ng-if="currency.code !== IDR" value="IDR" selected>IDR</option>
                            <option ng-if="currency.code !== EUR" value="EUR" selected>EUR</option>
                            <option ng-if="currency.code !== CNY" value="CNY" selected>CNY</option>
                        </select>
                    </label>
                </div>
            </ion-content>

            <!-- Footer bar hack to get layout right -->
            <ion-footer-bar class="high-footer bar-dark">
            </ion-footer-bar>

            <button keyboard-attach class="high-footer bar bar-footer" ng-click="submit(convertToForm)" linked="clickMe">
                <h1 class="title">Next</h1>
            </button>
        </form>
    </div>
</ion-view>
