<ion-view>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="cancel()">
            Cancel&nbsp;
        </button>
    </ion-nav-buttons>
    <form name="SearchTellerForm" method="post" novalidate>
        <ion-content class="container-body">
            <div class="container-default-background">
                <div class="row">
                    <div class="col col-100">
                        <div class="row">
                            <h4>We're searching for Tellers</h4>
                        </div>
                        <div class="row">
                            <p>You've placed a deposit request of {{ currency.symbol }} {{ deposit.amount }} and offered a {{ currency.symbol }} {{ deposit.fee }} convenience fee.</p>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    </form>
</ion-view>
