<ion-view view-title="" hide-back-button="true" hide-nav-bar="true">
    <ion-content>
        <div class="container-success row text-center">
            <div class="col text-center">
                <h2>You have converted {{ quote.from_currency }} {{ quote.from_amount }} to {{ quote.to_currency }} {{ quote.to_amount }} at a rate of {{ quote.rate }}.
                </h2>
            </div>
        </div>
    </ion-content>

    <a class="high-footer bar bar-footer" menu-close href="#/app/dashboard">
        <h1 class="title">Done</h1>
    </a>
</ion-view>
