<ion-view view-title="{{'SEARCH_OFFERS' | translate}}">
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear" ng-click="back()">
            <i class="icon ion-ios-arrow-back"></i> {{'BACK' | translate}}
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="close()" translate="CLOSE">
        </button>
    </ion-nav-buttons>
    <form name="SelectOfferForm" method="post" novalidate>
        <ion-content class="container-body">
            <div class="container-default-background">
                <div class="row">
                    <div class="col col-100">
                        <div class="row">
                            <h4 ng-if="offers === false" translate="SEARCHING_TEXT"></h4>
                            <h4 ng-if="offers === true" translate="FOUND_TEXT"></h4>
                        </div>
                        <div class="row">
                            <p translate="SEARCH_DESCRIPTION"
                               translate-values="{ tx_type: transaction.tx_type, currency: currency.symbol, amount: transaction.amount, fee: transaction.fee}"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100" ng-if="offers === false">
                        <center>
                            <ion-spinner></ion-spinner>
                        </center>
                    </div>
                </div>
            </div>

            <div id="map"></div>
        </ion-content>
    </form>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <button class="col col-100 high-footer bar bar-footer cancel" ng-click="cancel(null, null)">
        <h1 class="title" translate="CANCEL"></h1>
    </button>
</ion-view>
