<ion-view>
    <ion-nav-bar>
        <ion-nav-back-button class="button-clear" ng-click="back()">
            <i class="icon ion-ios-arrow-back"></i> Back
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="close()">
            Close&nbsp;
        </button>
    </ion-nav-buttons>
    <form name="SelectOfferForm" method="post" novalidate>
        <ion-content class="container-body">
            <div class="container-default-background">
                <div class="row">
                    <div class="col col-100">
                        <div class="row">
                            <h4 ng-if="offers === false">We're searching for tellers</h4>
                            <h4 ng-if="offers === true">We found tellers near you</h4>
                        </div>
                        <div class="row">
                            <p>You've placed a {{ transaction.tx_type }} request of {{ currency.symbol }} {{ transaction.amount }} and
                                offered a {{ currency.symbol }} {{ transaction.fee }} convenience fee. Cancel this
                                transaction if you want to increase your fee.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-100" ng-if="offers === false">
                        <center>
                            <ion-spinner></ion-spinner>
                        </center>
                    </div>
                </div>
            </div>

            <div id="map"></div>
        </ion-content>
    </form>

    <!-- Footer bar hack to get layout right -->
    <ion-footer-bar class="high-footer bar-dark">
    </ion-footer-bar>

    <button class="col col-100 high-footer bar bar-footer cancel" ng-click="cancel(null, null)">
        <h1 class="title">Cancel</h1>
    </button>
</ion-view>
