<ion-view view-title="Amount">
    <form name="tellerConfirmForm" method="post" novalidate>
        <ion-content class="container-body">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Payment code</span>
                    <input name="code" ng-model="data.code" type="text"
                           placeholder="Unique transaction pin" required>

                    <div ng-messages="tellerConfirmForm.code.$error" role="alert" ng-show='tellerConfirmForm.$submitted || tellerConfirmForm.code.$dirty'>
                        <div ng-message="required" class="form-error">Please enter a valid code
                        </div>
                    </div>
                </label>
            </div>
        </ion-content>

        <!-- Footer bar hack to get layout right -->
        <ion-footer-bar class="high-footer bar-dark">
        </ion-footer-bar>

        <button keyboard-attach class="high-footer bar bar-footer" ng-click="submit(tellerConfirmForm)">
            <h1 class="title">Next</h1>
        </button>
    </form>
</ion-view>
