<ion-view view-title="">
    <div class="custom-header">
        <div class="col text-center">
            <h2>Collect $101.00 from Alice Wonderful to complete the deposit.
            </h2>
        </div>
    </div>

    <ion-content class="custom-header-margin">
        <div class="custom-body">
            <div class="teller-container background-light">
                <div class="teller-container-content">
                    <div class="teller-content">
                        <div class="row">
                    <span class="col-100 align-left">
                        <b>Deposit Details</b>
                    </span>
                        </div>
                        <div class="row">
                    <span class="col-50 align-left">
                        Amount
                    </span>
                    <span class="col-50 align-right">
                        $100.00
                    </span>
                        </div>
                        <div class="row">
                    <span class="col-50 align-left">
                        Convenience Fee
                    </span>
                    <span class="col-50 align-right">
                        $1.00
                    </span>
                        </div>
                        <div class="row">
                    <span class="col-50 align-left">
                        Fundo Fee
                    </span>
                    <span class="col-50 align-right">
                        $1.00
                    </span>
                        </div>
                        <div class="row">
                    <span class="col-50 align-left">
                        Discount
                    </span>
                    <span class="col-50 align-right">
                        -$1.00
                    </span>
                        </div>
                        <div class="row">
                    <span class="col-50 align-left">
                        Total
                    </span>
                    <span class="col-50 align-right">
                        $101.00
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teller-content">
                    <div class="row">
                    <span class="col-100 align-left">
                        <b>Summary</b>
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-100 align-left">
                        Alice Wonderful must pay $101.00 cash to make a deposit of $100.00.
                    </span>
                    </div>
                </div>
        </div>
    </ion-content>

    <div class="row">
        <a class="col col-50 high-footer bar bar-footer cancel" >
            <h1 class="title">Cancel</h1>
        </a>
        <button class="col col-50 col-offset-50 high-footer bar bar-footer" ng-click="submit()">
            <h1 class="title">Confirm</h1>
        </button>
    </div>
</ion-view>
