<ion-view view-title="History">
    <ion-content class="container-body">
            <div class="container-default-background">
                <div class="row">
                    <div class="col col-100">
                        <div class="row">
                            <h4>Coming soon</h4>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion-view>
