<ion-view view-title="Offers">
    <ion-content class="container-body">
        <ion-refresher pulling-text="pull to refresh" on-refresh="refreshData()"></ion-refresher>
        <div class="list-default">

            <div class="item background-light">
                <b>History</b>
            </div>
            <div ng-repeat="offer in offers">
                <div>
                    <div class="item item-profile no-padding">
                        <div class="row">
                            <div class="col col-20">
                                <img ng-if="offer.transaction.user.profile !== null" class="circle-base profile-teller" src="{{ offer.transaction.user.profile }}"/>
                                <img ng-if="offer.transaction.user.profile === null" class="circle-base profile-teller" src="img/profile.png"/>
                            </div>

                            <div class="row default-top">
                                <div class="col-90 align-left">
                                    <h2><strong>{{ offer.transaction.tx_type }}</strong> - {{ offer.transaction.status }}</h2>
                                    <h2>{{ offer.transaction.tx_type }} </h2>
                                    <p><b>{{ offer.transaction.currency }} {{ offer.transaction.amount }} at a {{ offer.transaction.fee }} fee</b></p>
                                    <p>{{ offer.note }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
