<ion-view view-title="Offers">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="cancel()">
            Cancel&nbsp;
        </button>
    </ion-nav-buttons>
    <ion-content class="container-body">
        <ion-refresher pulling-text="pull to refresh" on-refresh="refreshData()"></ion-refresher>
        <div class="list-default">
            <div class="item background-light">
                <b>Accepted Offers</b>
            </div>
            <div ng-repeat="offer in acceptedOffers">
                <div ui-sref="app.teller_view_offer({offer: offer})">
                    <div class="item item-profile no-padding">
                        <div class="row">
                            <div class="col col-20">
                                <img class="circle-base profile-teller" ng-src="{{ offer.transaction.user.profile || 'img/profile.png' }}"/>
                            </div>

                            <div class="row default-top">
                                <div class="col-90 align-left">
                                    <h2><strong>{{ offer.transaction.tx_type }}</strong></h2>

                                    <p><b>{{ offer.transaction.currency }} {{ offer.transaction.amount }} at a {{
                                        offer.transaction.fee }} fee</b></p>

                                    <p>{{ offer.note }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item background-light">
                <b>Pending Offers</b>
            </div>
            <div ng-repeat="offer in pendingOffers">
                <div ui-sref="app.teller_view_offer({offer: offer})">
                    <div class="item item-profile no-padding">
                        <div class="row">
                            <div class="col col-20">
                                <img class="circle-base profile-teller" ng-src="{{ offer.transaction.user.profile || 'img/profile.png' }}"/>
                            </div>

                            <div class="row default-top">
                                <div class="col-90 align-left">
                                    <h2><strong>{{ offer.transaction.tx_type }}</strong></h2>

                                    <p><b>{{ offer.transaction.currency }} {{ offer.transaction.amount }} at a {{
                                        offer.transaction.fee }} fee</b></p>

                                    <p>{{ offer.note }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
