<ion-view view-title="Requests Nearby">
    <ion-content class="container-body">
        <ion-refresher pulling-text="pull to refresh" on-refresh="refreshData()"></ion-refresher>
        <div class="list-default">

            <div class="item background-light">
                <b>Transactions</b>
            </div>
            <div ng-repeat="transaction in transactions">
                <div ui-sref="app.teller_view_transaction({id: transaction.id})">
                    <div class="item item-profile no-padding">
                        <div class="row">
                            <div class="col col-20">
                                <img class="circle-base profile-image" ng-src="{{ transaction.user.profile || 'img/profile_2.png' }}"/>
                            </div>

                            <div class="row default-top">
                                <div class="col-90 align-left">
                                    <h2><strong>{{ transaction.tx_type | capitalize }}</strong></h2>
                                    <p><b>{{ transaction.currency }} {{ transaction.amount }} at a {{ transaction.fee }} fee</b></p>
                                    <p>{{ transaction.note }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion-view>
