<ion-view view-title="Requests Nearby">
    <ion-content class="container-body">
        <ion-refresher pulling-text="pull to refresh" on-refresh="refreshData()"></ion-refresher>
        <div class="list-default">

            <div class="item background-light">
                <b>Transactions</b>
            </div>
            <div ng-repeat="tx in transactions">
                <div ui-sref="app.teller_view_transaction({id: tx.id})">
                    <div class="item item-profile no-padding">
                        <div class="row">
                            <div class="col col-20">
                                <img class="circle-base profile-teller" src="img/profile_2.jpg"/>
                            </div>

                            <div class="row default-top">
                                <div class="col-90 align-left">
                                    {{ tx.currency }} {{ tx.amount }} at a {{ tx.fee }} fee
                                    <p>{{ tx.note }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <ion-infinite-scroll on-infinite="loadMore()" distance="5%"></ion-infinite-scroll>
</ion-view>
