<ion-view view-title="">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="close()">
            Close&nbsp;
        </button>
    </ion-nav-buttons>
    <form name="depositForm" method="post" novalidate>
        <ion-content class="container-body">
            <div class="teller-alert">
                <div class="row">
                    <div class="col col-100">
                        <div class="row center">
                            <h4><b>Earn {{ currency.symbol }} {{ transaction.fee }} for {{ currency.symbol }} {{
                                transaction.amount }} {{ transaction.tx_type }}.</b></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teller-container background-light">
                <div class="row">

                    <div class="profile-header">
                        <img class="circle-base profile-image"
                             ng-src="{{ transaction.user.profile || 'img/profile_2.png' }}"/>
                    </div>

                    <div class="row default-top">
                        <div class="teller-header">
                            <div class="teller-title"><b>{{ transaction.user.first_name }} {{ transaction.user.last_name
                                }}</b>

                                <div class="teller-sub">is 20 minutes walk away.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="teller-container-content">
                <div class="teller-content">
                    <div class="row">
                    <span class="col-100 align-left">
                        <b>{{ transaction.tx_type | capitalize }} Details ({{ transaction.currency }})</b>
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-50 align-left">
                        Amount
                    </span>
                    <span class="col-50 align-right">
                        {{ currency.symbol }} {{ transaction.amount }}
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-50 align-left">
                        Convenience Fee
                    </span>
                    <span class="col-50 align-right">
                        {{ currency.symbol }} {{ transaction.fee }}
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-50 align-left">
                        Total
                    </span>
                    <span class="col-50 align-right">
                        {{ currency.symbol }} {{ transaction.total }}
                    </span>
                    </div>
                </div>
                <div class="teller-content">
                    <div class="row">
                    <span class="col-100 align-left">
                        <b>Summary</b>
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-100 align-left">
                        Earn {{ currency.symbol }} {{ transaction.fee }} for  {{ currency.symbol }} {{ transaction.amount }} {{ transaction.tx_type }}.
                    </span>
                    </div>
                </div>

            </div>

            <div class="teller-footer"></div>
        </ion-content>

        <div class="row">
            <button class="high-footer bar bar-footer" ng-click="acceptTransaction()">
                <h1 class="title">Accept</h1>
            </button>

        </div>
    </form>
</ion-view>