<ion-view view-title="{{'OFFER' | translate}}">
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="close()" translate="CLOSE">
        </button>
    </ion-nav-buttons>
    <form name="tellerViewForm" method="post" novalidate>
        <ion-content class="container-body">
            <div ng-if="offer.status == 'Pending'">
                <div class="teller-alert">
                    <div class="row">
                        <div class="col col-100">
                            <div class="row center">
                                <h4>
                                    <b translate="TELLER_OFFER_TRANSACTION"
                                        translate-values="{ currency: currency.symbol, fee: offer.transaction.fee, amount: offer.transaction.amount, tx_type: offer.transaction.tx_type}"></b>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teller-container background-light">
                <div class="row">
                    <div class="profile-header">
                        <img class="circle-base profile-image"
                             ng-src="{{ offer.transaction.user.profile || 'img/profile_2.png' }}"/>
                    </div>

                    <div class="row default-top">
                        <div class="teller-header">
                            <div class="teller-title">
                                <b>{{ offer.transaction.user.first_name }} {{
                                    offer.transaction.user.last_name }}</b>
                                <!--<div class="teller-sub">is 20 minutes walk away.</div>-->
                            </div>

                            <div class="teller-sub">
                                <div class="row">
                                    <div class="teller-rating">
                                        <img src="img/like.png"/>
                                    </div>
                                    <div class="teller-rating-text">
                                        {{ offer.transaction.user.rating.positive }}
                                    </div>
                                    <div class="teller-rating">
                                        <img src="img/dislike.png"/>
                                    </div>
                                    <div class="teller-rating-text">
                                        {{ offer.transaction.user.rating.negative }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="offer.status == 'Accepted'">
                <div class="teller-content background-light">
                    <div class="row teller-call">
                        <div class="col col-5"></div>
                        <a href="tel:{{ offer.transaction.user.mobile_number }}" class="button block button-call col-40" translate="CALL">
                        </a>
                        <div class="col col-10"></div>
                        <a href="sms:{{ offer.transaction.user.mobile_number }}" class="button block button-call col-40" translate="TEXT">
                        </a>
                        <div class="col col-5"></div>
                    </div>
                </div>
                <div class="teller-alert">
                    <div class="row">
                        <div class="col col-100">
                            <div class="row center">
                                <h2><b>{{ offer.transaction.pin }}</b></h2>
                            </div>
                            <div class="row center">
                                <p translate="TELLER_CODE_INSTRUCTIONS"
                                   translate-values="{ first_name: offer.transaction.user.first_name}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" translate="PIN_CODE"></span>
                    <input name="code" ng-model="data.code" type="text"
                           placeholder="{{'PIN_PLACEHOLDER' | translate}}" required>

                    <div ng-messages="tellerViewForm.code.$error" role="alert"
                         ng-show='tellerViewForm.$submitted || tellerViewForm.code.$dirty'>
                        <div ng-message="required" class="form-error" translate="PIN_REQUIRED_MESSAGE">
                        </div>
                    </div>
                </label>
            </div>
            <div class="teller-container-content">
                <div ng-if="offer.transaction.note">
                    <div class="teller-content">
                        <div class="row">
                    <span class="col-100 align-left">
                        <b translate="USER_INSTRUCTIONS"></b>
                    </span>
                        </div>
                        <div class="row">
                    <span class="col-100 align-left">
                        {{ offer.transaction.note }}
                    </span>
                        </div>
                    </div>
                </div>
                <div class="teller-content">
                    <div class="row">
                    <span class="col-100 align-left">
                        <b>{{'DETAILS' | translate}} ({{ offer.transaction.currency }})</b>
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-50 align-left" translate="AMOUNT">
                    </span>
                    <span class="col-50 align-right">
                        {{ currency.symbol }} {{ offer.transaction.amount }}
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-50 align-left" translate="CONVENIENCE_FEE">
                    </span>
                    <span class="col-50 align-right">
                        {{ currency.symbol }} {{ offer.transaction.fee }}
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-50 align-left" translate="TOTAL">
                    </span>
                    <span class="col-50 align-right">
                        {{ currency.symbol }} {{ offer.transaction.total }}
                    </span>
                    </div>
                </div>
                <div class="teller-content">
                    <div class="row">
                    <span class="col-100 align-left">
                        <b>Summary</b>
                    </span>
                    </div>
                    <div class="row">
                    <span class="col-100 align-left"
                        translate="TELLER_OFFER_TRANSACTION"
                        translate-values="{ currency: currency.symbol, fee: offer.transaction.fee, amount: offer.transaction.amount, tx_type: offer.transaction.tx_type}">
                    </span>
                    </div>
                </div>
            </div>
            <div class="teller-footer"></div>
        </ion-content>

        <!-- Footer bar hack to get layout right -->
        <ion-footer-bar class="high-footer bar-dark">
        </ion-footer-bar>

        <div class="row">
            <div ng-if="offer.status === 'Accepted'">
                <button class="col col-50 high-footer bar bar-footer cancel" ng-click="cancel()">
                    <h1 class="title" translate="CANCEL"></h1>
                </button>
                <button class="col col-50 col-offset-50 high-footer bar bar-footer" ng-click="submit(tellerViewForm)">
                    <h1 class="title" translate="CONFIRM"></h1>
                </button>
            </div>
            <div ng-if="offer.status !== 'Accepted'">
                <button class="high-footer bar bar-footer cancel" ng-click="cancel()">
                    <h1 class="title" translate="CANCEL"></h1>
                </button>
            </div>
        </div>
    </form>
</ion-view>