<ion-content class="custom-header-margin">
    <ion-refresher pulling-text="pull to refresh" on-refresh="refreshData()"></ion-refresher>

    <div class="custom-body">
        <div ng-if="tellerMode == 'active'">
            <div class="teller-active text-center warning">
                <h4>Teller mode is active.</h4>
            </div>
        </div>

        <div ng-if="items.length == 0">
            <div class="container-card">
                <div class="card">
                    <div class="item item-body">
                        <h2>Welcome to Fundo</h2>

                        <p>Please verify your email address to redeem any unclaimed transactions. Pull to refresh your balance.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="items.length >= 0">
            <div class="list-default">
                <div class="block">
                    <div ng-repeat="item in items">
                        <div class="item item-avatar item-icon-left no-padding">
                            <img class="circle-base profile-teller" ng-src="img/profile_2.png"/>
                            <div class="row default-top">
                                <div class="col col-60 align-left">
                                    <h2 style="padding-bottom: 3px;">{{ item.description }}</h2>
                                    <div ng-if="user.identifier == item.metadata.teller">
                                        <h5 ng-if="item.metadata.fee > 0">You've earned {{ item.currency.symbol }} {{ item.metadata.fee }}</h5>
                                    </div>
                                    <div ng-if="user.identifier != item.metadata.teller">
                                        <h5 ng-if="item.metadata.fee > 0">{{ item.currency.symbol }} {{ item.metadata.fee }} teller fee</h5>
                                    </div>
                                    <h5 ng-if="item.metadata.rate > 0">{{ item.metadata.from_currency }} {{ item.metadata.from_amount }} to {{ item.metadata.to_currency }} {{ item.metadata.to_amount }}</h5>
                                    <h4>{{ item.note }}</h4>
                                </div>
                                <div class="col align-right">
                                    <h3>{{ item.currency.symbol }} {{ item.amount }}</h3>
                                    <h5 ng-if="item.fee > 0">{{ item.currency.symbol }} {{ item.fee }} Fundo Fee</h5>
                                    <h5>{{ item.created | date:'d MMM' }} | {{ item.status }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ion-infinite-scroll on-infinite="loadMore()" distance="1%"></ion-infinite-scroll>
</ion-content>
